Repository Orange-OpenSource/ods-ios, changes with the owners that CODEOWNERS names for each.
All owners: @pylapp, @B3nz01d, @ludovic35

add changelog
  CHANGELOG.md
Owners: @ludovic35, @pylapp

library : add size button info
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Lists/Internal/TrailingView.swift
Owners: @ludovic35, @pylapp

review: update changelog
  CHANGELOG.md
Owners: @ludovic35, @pylapp

[P1] 732 target size is too small for info and chevron components difficult to tap without mistake (#825)
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Lists/Internal/TrailingView.swift
Owners: @ludovic35, @pylapp

app : add accessibility header
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
Owners: @ludovic35, @pylapp

add changelog issues
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSFilterChipPicker.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
Owners: @ludovic35, @pylapp

[P1] bug a11y module about title header (#828)
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSFilterChipPicker.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
Owners: @ludovic35, @pylapp

Example of what we can do with docc
  GettingStarted.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Banner/ODSBanner.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/OrangeDesignSystem.docc/Extensions/ODSBanner.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/OrangeDesignSystem.docc/GettingStarted.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/OrangeDesignSystem.docc/OrangeDesignSystem.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/OrangeDesignSystem.docc/Resources/banner-dark.png
  OrangeDesignSystem/Sources/OrangeDesignSystem/OrangeDesignSystem.docc/Resources/banner-light.png
Owners: @ludovic35, @pylapp

Update documentation
  CHANGELOG.md
  docs/_data/data_menu.yml
  docs/home_content.md
  docs/index.md
  docs/index_content.md
  docs/modules/about.md
Owners: @ludovic35, @pylapp

demo app : add localizable title text
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
Owners: @ludovic35, @pylapp

demo app : add localizable title text (#831)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
Owners: @ludovic35, @pylapp

demo app : add accessibility title
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
Owners: @ludovic35, @pylapp

demo app : add accessibility title (#833)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
Owners: @ludovic35, @pylapp

app demo : add text libelle slider
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Sliders/SlidersVariant.swift
Owners: @ludovic35, @pylapp

app demo : add text libelle slider (#834)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Sliders/SlidersVariant.swift
Owners: @ludovic35, @pylapp

demo app : add accessibility combine and state
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Buttons/EmphasisAndFunctionnalVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Buttons/IconVariant.swift
Owners: @ludovic35, @pylapp

demo app : add accessibility combine and state (#836)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Buttons/EmphasisAndFunctionnalVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Buttons/IconVariant.swift
Owners: @ludovic35, @pylapp

Update more apps module and changelog"
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/MoreApps/ODSMoreAppsView.swift
Owners: @ludovic35, @pylapp

Update more apps module and changelog" (#841)
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/MoreApps/ODSMoreAppsView.swift
Owners: @ludovic35, @pylapp

Update file in resources
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/AccessibilityStatement.xml
Owners: @ludovic35, @pylapp

Update files
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/AccessibilityStatement.xml
  docs/accessibilityStatement/orange-design-system.html
Owners: @ludovic35, @pylapp

Remove duplicated lines
  CHANGELOG.md
Owners: @ludovic35, @pylapp

[#839] Update accessibility statement files (#842)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/AccessibilityStatement.xml
  docs/accessibilityStatement/orange-design-system.html
Owners: @ludovic35, @pylapp

Apply opacity on Banner
  InnovationCupTheme/Sources/InnovationCupTheme/InnovationCupTheme.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Banner/ODSBanner.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Theme/ODSTheme.swift
  OrangeTheme/Sources/OrangeTheme/OrangeTheme.swift
Owners: @ludovic35, @pylapp

Create CNAME
  docs/CNAME
Owners: @ludovic35, @pylapp

Delete CNAME
  docs/CNAME
Owners: @ludovic35, @pylapp

First investigation of token managment on banner opacity
  InnovationCupTheme/Sources/InnovationCupTheme/InnovationCupTheme.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Banner/ODSBanner.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Theme/ODSTheme.swift
  OrangeTheme/Sources/OrangeTheme/OrangeTheme.swift
Owners: @ludovic35, @pylapp

[review] Update changelog and add assets used by accessibility statment in NOTICE.txt
  CHANGELOG.md
  NOTICE.txt
Owners: @ludovic35, @pylapp, @B3nz01d

Update release 1.3.0
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
Owners: @ludovic35, @pylapp

Update release 1.3.0 (#852)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
Owners: @ludovic35, @pylapp

chore(deps): update Swift package `accessibility-statement-lib-ios`
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Package.swift
Owners: @ludovic35, @pylapp

chore(deps): update Swift package `accessibility-statement-lib-ios`
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Package.swift
  THIRD-PARTY.md
Owners: @ludovic35, @pylapp

ci: fix configuration file for `gitleaks`
  .gitleaks.toml
Owners: none

chore: update badges in README
  README.md
Owners: @ludovic35, @pylapp

chore: add Swift Package Index badge in README
  README.md
Owners: @ludovic35, @pylapp

style: resolve some linter warnings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Cards/CardHorizontalVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/_/MockURLAndResponse.swift
Owners: @ludovic35, @pylapp

style: remove some dead code
  InnovationCupTheme/Sources/InnovationCupTheme/InnovationCupTheme.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Cards/ODSCardVerticalHeaderFirst.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/ODSInputChip.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
Owners: @ludovic35, @pylapp

chore: add tips about OUDS in README
  README.md
Owners: @ludovic35, @pylapp

chore: add AppStore badge in README
  README.md
Owners: @ludovic35, @pylapp

chore: update third-parties in app settings
  CHANGELOG.md
  OrangeDesignSystemDemo/Settings.bundle/com.mono0926.LicensePlist.plist
  OrangeDesignSystemDemo/Settings.bundle/com.mono0926.LicensePlist/BottomSheet.plist
  OrangeDesignSystemDemo/Settings.bundle/com.mono0926.LicensePlist/Down.plist
  OrangeDesignSystemDemo/Settings.bundle/com.mono0926.LicensePlist/Parma.plist
  OrangeDesignSystemDemo/Settings.bundle/com.mono0926.LicensePlist/SwiftFormat.plist
  OrangeDesignSystemDemo/Settings.bundle/com.mono0926.LicensePlist/SwiftLint.plist
  OrangeDesignSystemDemo/Settings.bundle/com.mono0926.LicensePlist/SwiftUI-Flow.plist
  OrangeDesignSystemDemo/Settings.bundle/com.mono0926.LicensePlist/accessibility-statement-lib-ios.plist
  OrangeDesignSystemDemo/Settings.bundle/com.mono0926.LicensePlist/swift-argument-parser.plist
Owners: @ludovic35, @pylapp

CODEOWNERS:

#
# Software Name: Orange Design System
# SPDX-FileCopyrightText: Copyright (c) Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license,
# the text of which is available at https://opensource.org/license/MIT/
# or see the "LICENSE" file for more details.
#
# Authors: See CONTRIBUTORS.txt
# Software description: A SwiftUI components library with code examples for Orange Design System
#

# Top-level files

AUTHORS.txt @pylapp
CONTRIBUTORS.txt @pylapp
LICENSE @pylapp
doctor.sh @pylapp

NOTICE.txt @B3nz01d

.gitattributes @ludovic35 @pylapp
.gitignore @ludovic35 @pylapp
.swiftformat @ludovic35 @pylapp
.swiftlint @ludovic35 @pylapp
CHANGELOG.md @ludovic35 @pylapp
DEVELOP.md @ludovic35 @pylapp
Gemfile @ludovic35 @pylapp
Gemfile.lock @ludovic35 @pylapp
Package.resolved @ludovic35 @pylapp
Package.swift @ludovic35 @pylapp
README.md @ludovic35 @pylapp
THIRD-PARTY.md @ludovic35 @pylapp

CONTRIBUTING @ludovic35 @pylapp @B3nz01d

# Project

/.github/ @pylapp @ludovic35

/docs/ @ludovic35 @pylapp
/docs_release/ @ludovic35 @pylapp

/InnovationCupTheme/ @ludovic35 @pylapp
/OrangeDesignSystem/ @ludovic35 @pylapp
/OrangeDesignSystemDemo/ @ludovic35 @pylapp
/OrangeTheme/ @ludovic35 @pylapp
