Repository Orange-OpenSource/ods-ios, changes with the owners that CODEOWNERS names for each.
All owners: @pylapp, @B3nz01d, @ludovic35, @julien-deramond

fix(#598): title and subtitile on several lines for small cards if a11y size in use
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Cards/ODSCardSmall.swift
Owners: @ludovic35, @pylapp

refactor(#64): apply review comments
  NOTICE.txt
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Image/ODSImage.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Array+extension.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/MoreAPps/ODSMoreAppsItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsViewModel.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/ODSAboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/AppsPlusRepositoryTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/ODSAboutListItemPriorityTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Utils/ArrayExtensionTests.swift
  docs/modules/about.md
Owners: @B3nz01d, @ludovic35, @pylapp, @julien-deramond

refactor(#64): demo option for use of embeded mocks
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModuleModel.swift
Owners: @ludovic35, @pylapp

$fix(#549): apply review comment
  CHANGELOG.md
Owners: @ludovic35, @pylapp

[#549] Improve documentation of tools (#608)
  CHANGELOG.md
  DEVELOP.md
  README.md
  doctor.sh
Owners: @ludovic35, @pylapp

chore(#610): Fastlane lane for CI/CD build with Apps Plus credentials
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Info.plist
  OrangeDesignSystemDemo/fastlane/Fastfile
  OrangeDesignSystemDemo/fastlane/README.md
  docs/modules/about.md
  docs_release/README.md
Owners: @ludovic35, @pylapp, @julien-deramond

chore(#610): Fastlane lane for CI/CD build with Apps Plus credentials (#611)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Info.plist
  OrangeDesignSystemDemo/fastlane/Fastfile
  OrangeDesignSystemDemo/fastlane/README.md
  docs/modules/about.md
  docs_release/README.md
Owners: @ludovic35, @pylapp, @julien-deramond

fix(#612): no more xconfig, better maangmeent of URL, new Logger
  .gitignore
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Slider/ODSSliderView.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Info.plist
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Sliders/SlidersVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModuleModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Utils/Logger.swift
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

fix(#612): no more xconfig, better maangmeent of URL, new Logger (#613)
  .gitignore
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Slider/ODSSliderView.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Info.plist
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Sliders/SlidersVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModuleModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Utils/Logger.swift
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

CODEOWNERS:

#
# Software Name: Orange Design System (iOS)
# SPDX-FileCopyrightText: Copyright (c) 2021 - 2023 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license.
#

# Top-level files

AUTHORS.txt @pylapp
CONTRIBUTORS.txt @pylapp
LICENSE @pylapp
doctor.sh @pylapp

NOTICE.txt @B3nz01d

.gitattributes @ludovic35 @pylapp
.gitignore @ludovic35 @pylapp
.swiftformat @ludovic35 @pylapp
.swiftlint @ludovic35 @pylapp
CHANGELOG.md @ludovic35 @pylapp
DEVELOP.md @ludovic35 @pylapp
Gemfile @ludovic35 @pylapp
Gemfile.lock @ludovic35 @pylapp
Package.resolved @ludovic35 @pylapp
Package.swift @ludovic35 @pylapp
README.md @ludovic35 @pylapp
THIRD-PARTY.md @ludovic35 @pylapp

CONTRIBUTING @ludovic35 @pylapp @B3nz01d

# Project

/.github/ @julien-deramond 

/docs/ @julien-deramond @ludovic35 @pylapp
/docs_release/ @julien-deramond @ludovic35 @pylapp

/InnovationCupTheme/ @ludovic35 @pylapp
/OrangeDesignSystem/ @ludovic35 @pylapp
/OrangeDesignSystemDemo/ @ludovic35 @pylapp
/OrangeTheme/ @ludovic35 @pylapp
