Repository Orange-OpenSource/ods-ios, changes with the owners that CODEOWNERS names for each.
All owners: @pylapp, @B3nz01d, @ludovic35, @julien-deramond

CODEOWNERS:

#
# Software Name: Orange Design System (iOS)
# SPDX-FileCopyrightText: Copyright (c) 2021 - 2023 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license.
#

# Top-level files

AUTHORS.txt @pylapp
CONTRIBUTORS.txt @pylapp
LICENSE @pylapp
doctor.sh @pylapp

NOTICE.txt @B3nz01d

.gitattributes @ludovic35 @pylapp
.gitignore @ludovic35 @pylapp
.swiftformat @ludovic35 @pylapp
.swiftlint @ludovic35 @pylapp
CHANGELOG.md @ludovic35 @pylapp
DEVELOP.md @ludovic35 @pylapp
Gemfile @ludovic35 @pylapp
Gemfile.lock @ludovic35 @pylapp
Package.resolved @ludovic35 @pylapp
Package.swift @ludovic35 @pylapp
README.md @ludovic35 @pylapp
THIRD-PARTY.md @ludovic35 @pylapp

CONTRIBUTING @ludovic35 @pylapp @B3nz01d

# Project

/.github/ @julien-deramond 

/docs/ @julien-deramond @ludovic35 @pylapp
/docs_release/ @julien-deramond @ludovic35 @pylapp

/InnovationCupTheme/ @ludovic35 @pylapp
/OrangeDesignSystem/ @ludovic35 @pylapp
/OrangeDesignSystemDemo/ @ludovic35 @pylapp
/OrangeTheme/ @ludovic35 @pylapp

Update docs for cards
  docs/components/cards.md
  docs/components/images/card_horizontal_dark.png
  docs/components/images/card_horizontal_light.png
  docs/components/images/card_small_dark.png
  docs/components/images/card_small_light.png
  docs/components/images/card_vertical_header_first_dark.png
  docs/components/images/card_vertical_header_first_light.png
  docs/components/images/card_vertical_image_first_dark.png
  docs/components/images/card_vertical_image_first_light.png
Owners: @julien-deramond, @ludovic35, @pylapp

Update changelog file
  CHANGELOG.md
Owners: @ludovic35, @pylapp

review: fix mistakes in doc
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Cards/ODSCardHorizontal.swift
Owners: @ludovic35, @pylapp

[#499] Thumbnail of card vertical header first not showing (#579)
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Cards/ODSCardHorizontal.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Cards/ODSCardSmall.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Cards/ODSCardVerticalHeaderFirst.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Cards/ODSCardVerticalImageFirst.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Cards/CardVerticalHeaderFirstVariant.swift
  docs/components/cards.md
  docs/components/images/card_horizontal_dark.png
  docs/components/images/card_horizontal_light.png
  docs/components/images/card_small_dark.png
  docs/components/images/card_small_light.png
  docs/components/images/card_vertical_header_first_dark.png
  docs/components/images/card_vertical_header_first_light.png
  docs/components/images/card_vertical_image_first_dark.png
  docs/components/images/card_vertical_image_first_light.png
Owners: @ludovic35, @pylapp, @julien-deramond

Add missing issue in changelog
  CHANGELOG.md
Owners: @ludovic35, @pylapp

Fix the minimum sze of the text
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Internal/Chip.swift
Owners: @ludovic35, @pylapp

Mistakes in changelog
  CHANGELOG.md
Owners: @ludovic35, @pylapp

[#594] Size of filter chips is not inconsistent in selected and unselected states (#599)
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Internal/Chip.swift
Owners: @ludovic35, @pylapp

Update Choice and Filter chips pickers
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSChoiceChipPicker.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSFilterChipPicker.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Package.swift
  THIRD-PARTY.md
Owners: @ludovic35, @pylapp

Reorder lines in changelog
  CHANGELOG.md
Owners: @ludovic35, @pylapp

review: fix mistakes in changelog and fix extra paddings
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSChoiceChipPicker.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSFilterChipPicker.swift
  THIRD-PARTY.md
Owners: @ludovic35, @pylapp

Adjust paddings
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSChoiceChipPicker.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSFilterChipPicker.swift
Owners: @ludovic35, @pylapp

[#577] Options are overlapped in Setup page of the about module (#592)
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSChoiceChipPicker.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Chips/Pickers/ODSFilterChipPicker.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Package.swift
  THIRD-PARTY.md
Owners: @ludovic35, @pylapp

Update changelog and Appnews files
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/AppNews.json
Owners: @ludovic35, @pylapp

ond
  CHANGELOG.md
Owners: @ludovic35, @pylapp

Prepare release 0.16.0 (#603)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/AppNews.json
Owners: @ludovic35, @pylapp

chore(#64): update CHANGELOG
  CHANGELOG.md
Owners: @ludovic35, @pylapp

refactor(#64): About screen
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/AboutListItems.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/AccessibilityStatement/AccessibilityStatement.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/AppNews/AboutReleaseDescription.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/AppNews/AppNewsViewModel.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/AppNews/AppNewsViews.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreApps.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/PrivacyPolicy/PrivacyPolicyItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/TermsOfService/TermsOfServiceItem.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
Owners: @ludovic35, @pylapp

chore(#64): various clean
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/ODSAboutListItemConfiguration.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/RateTheApp/ODSAboutRateTheAppItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/PrivacyPolicy/PrivacyPolicyItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/TermsOfService/TermsOfServiceItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/ODSAboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
Owners: @ludovic35, @pylapp

feat(#64): entry in menu
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Assets.xcassets/About/ic_mobile_apps.imageset/Contents.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Assets.xcassets/About/ic_mobile_apps.imageset/ic_mobile_apps.svg
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
Owners: @ludovic35, @pylapp

feat(#64): DTO, BO, unit tests, mocks, repository, service
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/AppNews/AppNewsListViewModelTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/AppNews/Data/AppNewsMock.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/AppNews/Data/AppNewsMock_notCompliant_badDateFormat.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/AppNews/Data/FileWithoutJson.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/AppNews/Data/NotStringFile.jpg
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/Data/AppsPlusAppDetailsMock.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/Data/AppsPlusListMock.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/Data/AppsPlusMock.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/Data/AppsPlusSectionMock.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/MoreAppsAppsPlusMapperTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/MoreAppsServiceTests.swift
  OrangeDesignSystemDemo/XCTestCase+extension.swift
Owners: @ludovic35, @pylapp

refactor(#64): order of about items with priority, tests
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/AboutListItems.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/ODSAboutModule.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Utils/Array+extension.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/AppNewsListViewModelTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/Data/AppNewsMock.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/Data/AppNewsMock_notCompliant_badDateFormat.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/Data/FileWithoutJson.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/Data/NotStringFile.jpg
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/ODSAboutListItemPriorityTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Utils/ArrayExtensionTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Utils/ArrayExtensionsTest.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Utils/CacheTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Utils/DateFormatterCacheTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Utils/DateFormatterTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Utils/StringLocalizationTests.swift
Owners: @ludovic35, @pylapp

chore(#64): demo, module, entry
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/MoreAPps/ODSMoreAppsItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsViewModel.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystem/Sources/OrangeDesignSystem/Resources/Icons.xcassets/ic_mobile_apps.imageset/Contents.json
  OrangeDesignSystem/Sources/OrangeDesignSystem/Resources/Icons.xcassets/ic_mobile_apps.imageset/ic_mobile_apps.svg
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModuleModel.swift
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

refactor(#64): documentation, URL of AppsPlus service in higher level
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/MoreAPps/ODSMoreAppsItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsViewModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Utils/Domain/Configuration/MoreAppsConfiguration.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/MoreAppsServiceTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/ODSAboutListItemPriorityTests.swift
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

feat(#64): request and parse data, errors, configuration
  .gitignore
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/MoreAPps/ODSMoreAppsItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsViewModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Info.plist
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/MoreAppsAppsPlusMapperTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/MoreAppsServiceTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/ODSAboutListItemPriorityTests.swift
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

feat(#64): cache for error case and offline mode
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

test(#64): unit tests for AppsPlus repository when backend error
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsViewModel.swift
  OrangeDesignSystemDemo/MockURLAndResponse.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/AppsPlusRepositoryTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/Data/AppsPlusCache.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/MoreAppsServiceTests.swift
Owners: @ludovic35, @pylapp

feat(#64): deal with ETags management of Apps Plus backend and timeouts
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Utils/ODSLogger.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Utils/UserDefaultsWrapper.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/AppsPlusRepositoryTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/_/MockURLAndResponse.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/_/XCTestCase+extension.swift
Owners: @ludovic35, @pylapp

feat(#64): display of apps, peek and pop allowed if long description
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystem/Sources/OrangeDesignSystem/Utils/ODSLogger.swift
Owners: @ludovic35, @pylapp

feat(#63): App Store redirections
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
Owners: @ludovic35, @pylapp

feat(#64): about module demo
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Info.plist
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModuleModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Utils/Domain/Configuration/MoreAppsConfiguration.swift
Owners: @ludovic35, @pylapp

feat(#64): flatten or not the list of apps
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/MoreAPps/ODSMoreAppsItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsViewModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Info.plist
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Utils/Domain/Configuration/MoreAppsConfiguration.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/MoreAppsBOTests.swift
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

feat(#64): use cache or not for apps icons
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Image/ODSImage.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/MoreAPps/ODSMoreAppsItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsViewModel.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Utils/CachedAsyncImage.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModuleModel.swift
  THIRD-PARTY.md
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

feat(#64): a11y - define focus rules and hints for items and list of apps
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Resources/Base.lproj/Localizable.strings
Owners: @ludovic35, @pylapp

feat(#64): vibrations for loading states
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/MoreAPps/ODSMoreAppsItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Utils/VibrationsManager.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModuleModel.swift
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

refactor(#64): fix compilation issues after rebase from qualif
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Components/Image/ODSImage.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
Owners: @ludovic35, @pylapp

refactor(#64): review - about module demo configuration for AppsPlus
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
Owners: @ludovic35, @pylapp

refactor(#64): review - let possibility to use backend or local files for testers and users
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Configuration/Items/MoreAPps/ODSMoreAppsItem.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsViewModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/AppsPlus.json
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/About/AboutSceen.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/About/AboutModuleModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/MoreApps/LocalAppsPlusRepositoryTest.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/_/XCTestCase+extension.swift
  docs/modules/about.md
Owners: @ludovic35, @pylapp, @julien-deramond

refactor(#64): review - various cleanup
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/AppsPlusDTO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsBO.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/ListItems/MoreApps/MoreAppsView.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/Modules/About/ODSAboutListItemPriorityTests.swift
Owners: @ludovic35, @pylapp

doc(#549): improve documentation of tools
  DEVELOP.md
  README.md
  doctor.sh
Owners: @ludovic35, @pylapp
