Repository Orange-OpenSource/ods-ios, changes with the owners that CODEOWNERS names for each.
All owners: @pylapp, @B3nz01d, @ludovic35, @julien-deramond

chore: add missing copyright and version details to third-party softwares file
  THIRD-PARTY.md
Owners: @ludovic35, @pylapp

doc: add missing details for CI/CD tasks
  docs_release/README.md
Owners: @julien-deramond, @ludovic35, @pylapp

chore: add Mattermost notifications for tests step in CI/CD
  OrangeDesignSystemDemo/fastlane/Fastfile
Owners: @ludovic35, @pylapp

chore: freeze versions of Fastlane and CocoaPods
  Gemfile
  Gemfile.lock
  OrangeDesignSystemDemo/fastlane/Pluginfile
Owners: @ludovic35, @pylapp

chore: freeze version of Parma and SwiftFormat
  OrangeDesignSystemDemo/Podfile
  OrangeDesignSystemDemo/Podfile.lock
Owners: @ludovic35, @pylapp

Freeze third-party softwares versions, update documentation (#520)
  Gemfile
  Gemfile.lock
  OrangeDesignSystemDemo/Podfile
  OrangeDesignSystemDemo/Podfile.lock
  OrangeDesignSystemDemo/fastlane/Fastfile
  OrangeDesignSystemDemo/fastlane/Pluginfile
  THIRD-PARTY.md
  docs_release/README.md
Owners: @ludovic35, @pylapp, @julien-deramond

chore: freeze version of accessibility statement library
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Package.swift
Owners: @ludovic35, @pylapp

fix: reference to accessibility statement file
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/AccessibilityStatement.xml
Owners: @ludovic35, @pylapp

Freeze version of dependency for accessibility-statement-lib (#521)
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcworkspace/xcshareddata/swiftpm/Package.resolved
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/AccessibilityStatement.xml
  Package.swift
Owners: @ludovic35, @pylapp

Add module code and docs
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleDataModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleOptions.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleOptionsModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/ModulesList.swift
  docs/_data/data_menus.yml
  docs/components/listItem.md
  docs/components/listItem_docs.md
  docs/components/lists_docs.md
  docs/modules/images/list_grouped_dark.png
  docs/modules/images/list_grouped_light.png
  docs/modules/images/list_inset_dark.png
  docs/modules/images/list_inset_grouped_dark.png
  docs/modules/images/list_inset_grouped_light.png
  docs/modules/images/list_inset_light.png
  docs/modules/images/list_plain_dark.png
  docs/modules/images/list_plain_light.png
  docs/modules/images/list_sidebar_dark.png
  docs/modules/images/list_sidebar_light.png
  docs/modules/list.md
  docs/modules/list_docs.md
Owners: @ludovic35, @pylapp, @julien-deramond

Swift format
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleDataModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleOptions.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleOptionsModel.swift
  OrangeDesignSystemDemo/Podfile.lock
Owners: @ludovic35, @pylapp

review: add wording keys and fix mistakes
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleDataModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleOptions.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleOptionsModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/ModulesList.swift
Owners: @ludovic35, @pylapp

review: remove localized when could be ignored
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/ODSAboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleOptions.swift
Owners: @ludovic35, @pylapp

[#416] Add Module List to show List style, Header and Footer of Sections (#522)
  CHANGELOG.md
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/ODSAboutModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModule.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleDataModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleOptions.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModuleOptionsModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/ModulesList.swift
  OrangeDesignSystemDemo/Podfile.lock
  docs/_data/data_menus.yml
  docs/components/listItem.md
  docs/components/listItem_docs.md
  docs/components/lists_docs.md
  docs/modules/images/list_grouped_dark.png
  docs/modules/images/list_grouped_light.png
  docs/modules/images/list_inset_dark.png
  docs/modules/images/list_inset_grouped_dark.png
  docs/modules/images/list_inset_grouped_light.png
  docs/modules/images/list_inset_light.png
  docs/modules/images/list_plain_dark.png
  docs/modules/images/list_plain_light.png
  docs/modules/images/list_sidebar_dark.png
  docs/modules/images/list_sidebar_light.png
  docs/modules/list.md
  docs/modules/list_docs.md
Owners: @ludovic35, @pylapp, @julien-deramond

Fix and update changelog file
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModule.swift
Owners: @ludovic35, @pylapp

[#529] Fix and update changelog file (#530)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Modules/Lists/ListModule.swift
Owners: @ludovic35, @pylapp

Rename for component bars
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/NavigationBar/NavigationBarComponent.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/NavigationBar/NavigationBarVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/TabBar/TabBarComponent.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/TabBar/TabBarVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/ToolBar/ToolBarComponent.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/ToolBar/ToolBarVariantOptions.swift
Owners: @ludovic35, @pylapp

Rename for component buttons
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Buttons/ButtonsComponent.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Buttons/EmphasisAndFunctionnalVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Buttons/IconVariant.swift
Owners: @ludovic35, @pylapp

Rename for component cards
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Cards/CardComponent.swift
Owners: @ludovic35, @pylapp

Rename for component lists
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Lists/ListComponent.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Lists/ListItemVariant/SelectionVariant/ListItemVaraintSelectionModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Lists/ListItemVariant/StandardVariant/ListItemStandardVariantOptions.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Lists/ListItemVariant/StandardVariant/ListItemVariantStandardModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Lists/SelectionVariant/SelectionListOptions.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Lists/StandardVariant/StandardList.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Lists/StandardVariant/StandardListModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Lists/StandardVariant/StandardListOptions.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/StringLocalizationTests.swift
Owners: @ludovic35, @pylapp

Rename for component progress indicators
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/ProgressIndicator/ActivityIndicatorVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/ProgressIndicator/ProgressBarVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/ProgressIndicator/ProgressIndicatorComponent.swift
Owners: @ludovic35, @pylapp

Rename for component banners
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Banners/BannerComponent.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Banners/BannerVariantOptions.swift
Owners: @ludovic35, @pylapp

Rename for component bottom sheets
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/BottomSheet/BottomSheetComponent.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/BottomSheet/Expanding/BottomSheetExpandingVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/BottomSheet/Expanding/BottomSheetExpandingVariantOptions.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/BottomSheet/Standard/BottomSheetStandardVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Views/Components/Pages/BottomSheet/BottomSheetComponent.swift
Owners: @ludovic35, @pylapp

Rename for component chips
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Chips/ChipsComponent.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Chips/ChipsComponentModel.swift
Owners: @ludovic35, @pylapp

Rename for component sliders
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Cards/CardHorizontalVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Cards/CardSmallVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Cards/CardVerticalHeaderFirstVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Cards/CardVerticalImageFirstVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Sliders/SliderComponent.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Sliders/SlidersVariant.swift
Owners: @ludovic35, @pylapp

Update changelog
  CHANGELOG.md
Owners: @ludovic35, @pylapp

Rename for component textfields
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/TextFields/CapitalizedTextInputsVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/TextFields/SecureVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/TextFields/TextFieldComponent.swift
Owners: @ludovic35, @pylapp

review: update wording keys
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/en.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/fr.lproj/Localizable.strings
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Buttons/EmphasisAndFunctionnalVariant.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Screens/Components/Pages/Lists/StandardVariant/StandardListModel.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/StringLocalizationTests.swift
Owners: @ludovic35, @pylapp

chore(Fastfile): improve messages for Mattermost notifications in lanes
  OrangeDesignSystemDemo/fastlane/Fastfile
Owners: @ludovic35, @pylapp

Improve messages for Mattermost notifications in Fastfile lanes (#531)
  OrangeDesignSystemDemo/fastlane/Fastfile
Owners: @ludovic35, @pylapp

Udpate plist to fix signing error
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Info.plist
Owners: @ludovic35, @pylapp

Prepare release 0.15.0
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/AppNews.json
Owners: @ludovic35, @pylapp

Prepare release 0.15.0 (#532)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/AppNews.json
Owners: @ludovic35, @pylapp

Prepare new 0.16.0 version
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
Owners: @ludovic35, @pylapp

Prepare new 0.16.0 version (#534)
  CHANGELOG.md
  OrangeDesignSystemDemo/OrangeDesignSystemDemo.xcodeproj/project.pbxproj
Owners: @ludovic35, @pylapp

chore: remove useless badge in README
  README.md
Owners: @ludovic35, @pylapp

[#540] Remove useless badge in README (#541)
  README.md
Owners: @ludovic35, @pylapp

feat(#537): add new cache for data formatter with using date format
  OrangeDesignSystem/Sources/OrangeDesignSystem/Utils/DateFormatter+extension.swift
  OrangeDesignSystem/Sources/OrangeDesignSystem/Utils/DateFormatterCache.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/CacheTests.swift
  OrangeDesignSystemDemo/OrangeDesignSystemDemoTests/DateFormatterCacheTests.swift
Owners: @ludovic35, @pylapp

chore(#537): clean up
  OrangeDesignSystem/Sources/OrangeDesignSystem/Modules/About/Internal/LitsItems/AppNews/AboutReleaseDescription.swift
Owners: @ludovic35, @pylapp

fix(#537): corrupted AppNews.sjon file
  OrangeDesignSystemDemo/OrangeDesignSystemDemo/Resources/Base.lproj/AppNews.json
Owners: @ludovic35, @pylapp

CODEOWNERS:

#
# Software Name: Orange Design System (iOS)
# SPDX-FileCopyrightText: Copyright (c) 2021 - 2023 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT license.
#

# Top-level files

AUTHORS.txt @pylapp
CONTRIBUTORS.txt @pylapp
LICENSE @pylapp
doctor.sh @pylapp

NOTICE.txt @B3nz01d

.gitattributes @ludovic35 @pylapp
.gitignore @ludovic35 @pylapp
.swiftformat @ludovic35 @pylapp
.swiftlint @ludovic35 @pylapp
CHANGELOG.md @ludovic35 @pylapp
DEVELOP.md @ludovic35 @pylapp
Gemfile @ludovic35 @pylapp
Gemfile.lock @ludovic35 @pylapp
Package.resolved @ludovic35 @pylapp
Package.swift @ludovic35 @pylapp
README.md @ludovic35 @pylapp
THIRD-PARTY.md @ludovic35 @pylapp

CONTRIBUTING @ludovic35 @pylapp @B3nz01d

# Project

/.github/ @julien-deramond 

/docs/ @julien-deramond @ludovic35 @pylapp
/docs_release/ @julien-deramond @ludovic35 @pylapp

/InnovationCupTheme/ @ludovic35 @pylapp
/OrangeDesignSystem/ @ludovic35 @pylapp
/OrangeDesignSystemDemo/ @ludovic35 @pylapp
/OrangeTheme/ @ludovic35 @pylapp
